nodes:
  - address: {{ rancher_public[0] }}
    internal_address: {{ rancher_private[0] }}
    user: outscale
    role: [controlplane, worker, etcd]
  - address: {{ rancher_public[1] }}
    internal_address: {{ rancher_private[1] }}
    user: outscale
    role: [controlplane, worker, etcd]
  - address: {{ rancher_public[2] }}
    internal_address: {{ rancher_private[2] }}
    user: outscale
    role: [controlplane, worker, etcd]

services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h